@tailwind base;

@tailwind components;

@tailwind utilities;

.hero_heading {
    left: 47.5%;
}

.slider-dot {
    left: 35rem;
   
}

body {
    height: 4000px;
}

.slider-dot .bt {
    font-size: 10px;
    width: 20px;
    height: 20px;
    color: rgb(68, 67, 67);
    background: rgb(68, 67, 67);
    border-radius: 50%;
} 
.upto {
    position: relative;
}
.upto:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1rem;
    height: 4px;
    width: 80%;
    background: rgb(214, 98, 98);
}


.menu-trigger.is-open + .sub-menu {
    overflow: visible;
    max-height: 100%;
}

.sub-menu {
    overflow: hidden;
    max-height: 0;
}

.box-1 {
    position: relative;
    height: 28rem;
}

.box-1 img {
    position: absolute;
    top: -5rem;
}

.box-4 {
    position: relative;
    height: 22rem;
    margin-top: 18rem;

}

.box-4 img {
    position: absolute;
    top: -14rem;
    left: 15%;
}

.box-5 {
    position: relative;
    height: 12rem;
    width: 100%;
    margin-bottom: 12rem;
}

.box-5 img {
    position: absolute;
    bottom: -8rem;
}